<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Get the primes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <form action="/primes" method="post">
      <label for="userNumber">Please enter a number greater than 2 to see all the primes that come before it:</label>
      <input type="number" min="2" name="userNumber" id="userNumber">
      <button type="submit">Check it Out!</button>
    </form>
  </div>
</body>
